@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">@Model.ErrorMessage.</h2>

@Html.ActionLink("Go to employees dashboard", "GetAll", "Employees", null, new { @class = "btn btn-small btn-primary margin-righ-sm" })